<% include partials/header.ejs %>
         <!--Hero page starts here-->
        <main class="hero-container">

          <div class="about-img">
          </div>
          <h2 class="welcome">About Me</h2>

          <!--About me info starts here-->
          <div class="about-me-container">
            <div class="about-me-box">
                <h2>Hello.<br />My name is Hussein Hussein.<br />Welcome to my website</h2>
                <p>I'm an college student programmer. Contact me if you have any questions</p>
                <p class="email-link"><a href="mailto:hhusse11@my.centennialcollege.ca">My Email</a></p>
                <img src="images/My-picture.jpeg" alt="My Photo">
                <div class="personal-info">
                    <h2>About Me</h2>
                    <p>I'm a back-end developer equiped with the knowledge of web services, APIs and Android development.</p>
                    <p>I'm experienced in creating, maintaining, testing, and debugging the core application logic, databases, data and application integration and API.</p>
                  </div>  
        </div>
        </main>
          <!--info ends here-->


        <!--Footer starts here-->
        <% include partials/footer.ejs %>