<% include partials/header.ejs %>


         <!--Hero page starts here-->
        <main>

          <div class="bg-img">
          </div>
          <h2 class="welcome">Welcome To Hussein's Website <%=title%></h2>
          <!--info ends here-->

          <div class="container-info">
            <div class="info-box1">
              <p>
                <p class="text-head">
                  Keep Learning
                </p>
                Up-to-date on the latest building technologies and best practices
              </p>
            </div>
            <div class="info-box2">
              <p>
                <p class="text-head">
                  Motivation to Achieve
                </p>
                Working under pressure and ability to solve problems
              </p>
            </div>
            <div class="info-box3">
              <p class="text-head">
                Motivation to Achieve
              </p>
              Working under pressure and ability to solve problems
            </p>
            </div>
          </div>
          <!--Profession Section-->
          <div class="expertise">
            <h1>What I do....</h1>
            <div class="expertise1">
              <div class="exp-wrapper">
                <div class="col13">
                  <h2>FRONT-END Website</h2><p>In order to make websites accessible and easy to use, front-end designers focus on making them easily understandable and intuitive. Testing across platforms, devices, and browsers is included. The contents, colors, themes, interface, accessibility, page loading, usability, and, most importantly, the end-user experience are all things I care about as a designer.</p></div>
                    <div class="col13">
                  <h2>INTERFACE DESIGN</h2><p>User experience and interaction design applies to websites, applications, and software. In order to achieve this, we need to make a simple and efficient interface that the user will not have to think about how to accomplish their goals. To meet the demands of a wide variety of users, the design process must balance technical functionality with visual appeal
                  </p></div>
                  <div class="col13">
                    <h2>INTERFACE DESIGN</h2><p>User experience and interaction design applies to websites, applications, and software. In order to achieve this, we need to make a simple and efficient interface that the user will not have to think about how to accomplish their goals. To meet the demands of a wide variety of users, the design process must balance technical functionality with visual appeal
                  </p></div>
              </div>
            </div>
            </div>
        </main>

<% include partials/footer.ejs %>