<% include partials/header.ejs %>

         <!--Hero page starts here-->
        <main class="hero-container">

          <div class="services-img">
          </div>
          <h2 class="welcome">Services</h2>
        
          <!--services starts here-->
          <div class="services-info-container">
            <div class="text-h">
                <h2>Services</h2>
            </div>
            
            
            <div class="card">
              <h2>Web development</h2> 
              <div class="part2"><img src="images/laptop-programming.jpg" alt="service" style="width:100%">
            
              <h4>Design and implement a responsive website with an engaging content using node and react. Alo, experienced with ASPN.NET to add more flexibility to the website.  </h4> 
              </div>
            </div>
            
            <div class="card">
              <h2>Android development</h2> 
              <div class="part2"><img src="images/android.png" alt="service" style="width:85%">
            
              <h4>Developing Android applications using clean and efficient codes. We monitor the performance of live apps and work to optimize them at the code level. Optimizing application performance, identifying bottlenecks, and resolving bugs</h4> 
              </div>
            </div>
            
            <div class="contactMe">
              <h2>Contact</h2>
              <p>Don't hesitate to contact me if you have any questions</p>
              <p><a href="mailto:hhusse11@my.centennialcollege.ca">My Email</a></p>
            </div>
          </div>

          <div class="slow-container">
              
          </div>
            
        </main>
          <!--info ends here-->


          <% include partials/footer.ejs %>
